body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

#game {
  text-align: center;
}

#status {
  font-size: 24px;
  margin-bottom: 20px;
  height: 25px;
  box-sizing: border-box;
}

.cell {
  font-size: 90px;
  font-weight: 900;
  width: 120px;
  height: 120px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px;
  margin-bottom: 20px;
}

#new-game {
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 20px; /* Relocate the "New Game" button underneath the display */
}
